body{
    padding: 25px;
    background:linear-gradient(#FFFFFF,#FBB454, #FFFFFF, #FFFFFF,#3CCF4E,#FFFFFF);

}

.buttonPadding{
    padding: 15px;
}

.contentMin{
    width: min-content;
}

.iconSetter{
    width : 20px;
    height: 20px;
}

.imageSet{
    height: 175px;
    width: 250px;
    padding: 15px;
}

.navColor{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}

.optionBox{
    padding: 15px;
}

.givePadding{
    padding: 10px;
}

.scroller{

    overflow: scroll;

     /* width: 700px; */

    height:350px;

}

.setCenter{
    text-align: center;
}

.setLeft{
    float: left;
}

.setRight{
    float: right;
}

.setWidth{
    width: min-content;
}

table{
    border-radius: 30px;
    background: #F5E8C7;
    background-repeat: repeat;
    padding: 50px;  
    filter: alpha(opacity=40); 
    opacity: 0.95;
}

.tableFit{
    width: 70%;
}

.tableMax{
    width: 100%;
}

td{
    padding: 5px;
}

.textForceOneLine{
    width: 100px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.textLightBlue{
    color : mediumaquamarine
}

.textLightGrey{
    color: rgb(137, 116, 116);
}

th{
    border-radius: 40px;
    background-color: lightgrey;
    padding: 10px;
    
}

.userInfoPadding{
    padding : max;
}